<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 组件扫描 -->
	<context:component-scan base-package="com.sf.wdx.*" use-default-filters="true"/>
	
	<!-- 引入其他xml配置文件 -->
	<import resource="classpath:spring/spring-mybatis.xml"/>
	<import resource="classpath:spring/spring-tx.xml"/>
	<import resource="classpath:spring/spring-aop.xml"/>
	
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:properties/dbconfig.properties"/>
	
	<!-- 配置数据源，使用德鲁伊连接池 -->
	<!-- 配置一个抽象的模板bean，另外两个bean继承，以抽取重复信息 -->
	<bean id="templateDataSource" abstract="true" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="${jdbc_username}"/>
		<property name="password" value="${jdbc_password}"/>
		<property name="driverClassName" value="${jdbc_driver}"/>
	</bean>
	
	<!-- 具体数据源 -->
	<bean id="dateSource3306" parent="templateDataSource">
		<property name="url" value="${jdbc_url_3306}"/>
	</bean>
	
	<!-- 具体数据源 -->
	<bean id="dataSource3307" parent="templateDataSource">
		<property name="url" value="${jdbc_url_3307}"/>
	</bean>
	
	<!-- 路由器数据源 -->
	<bean id="myRouterDataSource" class="com.sf.wdx.router.MyRouter">
		<!-- 以键值对形式管理多个数据源 -->
		<property name="targetDataSources">
			<map>
				<entry key="DATASOURCE_3306" value-ref="dateSource3306"/>
				<entry key="DATASOURCE_3307" value-ref="dataSource3307"/>
			</map>
		</property>
		<!-- 配置默认数据源 -->
		<property name="defaultTargetDataSource" ref="dateSource3306"/>
	</bean>
	
</beans>
