<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- AOP切Service -->
	<aop:config expose-proxy="true">
		<aop:aspect ref="serviceAop">
			<aop:pointcut expression="execution(public * com.sf.wdx.service.*.*(..))" id="txPoint"/>
			<aop:around method="bindDataSource" pointcut-ref="txPoint"/>	
		</aop:aspect>
	</aop:config>

</beans>
